COMPOSE_PROJECT_NAME=hoover4
CASSANDRA_VERSION=3.11.9
ELASTICSEARCH_VERSION=7.17.27
TEMPORAL_VERSION=1.23.1
TEMPORAL_UI_VERSION=2.26.2
MINIO_VERSION=RELEASE.2025-07-23T15-54-02Z
TZ=UTC
NER_URL=http://10.69.70.102:8821/v1
EXTERNAL_CLICKHOUSE_URL=http://10.69.70.112:8123