/* Drop all browserw default styles - see https://tailwindcss.com/docs/preflight */

*,::after,::before,::backdrop,::file-selector-button {  margin: 0;  padding: 0;}
*,::after,::before,::backdrop,::file-selector-button {  box-sizing: border-box;  border: 0 solid;}
h1,h2,h3,h4,h5,h6 {  font-size: inherit;  font-weight: inherit;}
ol,ul,menu {  list-style: none;}
img,svg,video,canvas,audio,iframe,embed,object {  display: block;  vertical-align: middle;}
img,video {  max-width: 100%;  height: auto;}
[hidden]:where(:not([hidden='until-found'])) {  display: none !important;}

/* Main div styles */
html, body, #main {
    width: calc(100dvw - 1px);
    height: calc(100dvh - 1px);
    max-height: calc(100dvh - 1px);
    max-width: calc(100dvw - 1px);
    padding: 0px;
    margin: 0px;
    border: 0px;
    top: 0px; left: 0px;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

/* Navbar styles */
#x-nav-container {
    display:flex;
    flex-direction:row;
    /* gap:1px; */
    width:100%;
    height:100%;
}
#x-nav-sidebar {
    width:15rem;
    height:100%;
    border-right:1px solid black;
    padding:1rem;
}
#x-page-container {
    height:100%;
    border-left:1px solid black;
    flex:1;
    /* padding:1rem; */
}


.x-facet-list-item:hover {
    background-color: #f0f0f0;
    accent-color: #ffffff;
}

.hoover4-hover-shadow-background:hover {
    background-color: rgb(231, 231, 231) !important;
}